<%= form_for(@post) do |f| %>
  <label>Post Title:</label>
  <%= f.text_field :title %><br><br>

  <label>Post Description</label>
  <%= f.text_area :description %><br><br>

  <%= f.submit %>
<% end %>